<html lang="en">

<head>
  <meta charset="utf-8">
  <script src="https://cesiumjs.org/releases/1.56.1/Build/Cesium/Cesium.js"></script>
  <link href="https://cesiumjs.org/releases/1.56.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <style>
    html,
    body,
    cesiumContainer {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .cesium-widget-credits {
      display: none !important;
      visibility: hidden !important;
    }

    .footer {
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      z-index: 991;
      padding: 3px 10px;
      font-size: 13px;
      color: #e9e9e9;
      text-shadow: 2px 2px 2px #000;
      background-color: rgba(0, 0, 0, .4);
    }

    .footerItem {
      float: right;
      min-width: 80px;
      margin-right: 20px;
      font-size: 13px;
      color: #e9e9e9;
      text-shadow: 2px 2px 2px #000;
    }
  </style>
</head>

<body>
  <div id="cesiumContainer"></div>
  <!-- <button type="button" class="btn btn-info" id="moni" style="position:absolute;top:20px;" onclick="SetMode('drawPloy')">面积</button>
  <button type="button" class="btn btn-info" style="position:absolute;top:20px;left: 95px;" onclick="SetMode('drawLine')">测量</button>
  <button type="button" class="btn btn-info" style="position:absolute;top:20px;left: 185px;" onclick="clearDrawingBoard()">清除</button> -->
  <div class="footer">
    <div class="footerItem" id="heightDiv">高度：</div>
    <!-- <div class="footerItem" id="altitudeDiv">海拔：</div> -->
    <div class="footerItem" id="latitudeDiv">纬度：</div>
    <div class="footerItem" id="longitudeDiv">经度：</div>
  </div>
  <script>
    Cesium.Ion.defaultAccessToken =
    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiI5MjMyYjZiMC1lZmY1LTQzNmEtODg1NS01NmQzMmE2NWY2ZjMiLCJpZCI6NDQ1MSwic2NvcGVzIjpbImFzciIsImdjIl0sImlhdCI6MTU0MDg4NTM2Mn0.7OzWWlmUmJv_EJo0RFpuiL2G_KLgZBENAAXOgU1O1qM';

    var viewer = new Cesium.Viewer('cesiumContainer', {
      geocoder: false, //搜索
      homeButton: false, //主页 地球回正
      sceneModePicker: false, //地球平铺 网格  3d/2d选择器
      baseLayerPicker: true,
      animation: false, //是否创建动画小器件，左下角仪表
      selectionIndicator: false,
      fullscreenButton: false,
      // infoBox: true,
      navigationHelpButton: false, //是否显示右上角的帮助按钮
      timeline: false,
      // baseLayerPicker: true //图层选择器
    });

     // Load Cesium World Terrain
    // viewer.terrainProvider = Cesium.createWorldTerrain({
    //   requestWaterMask: true, // required for water effects
    //   requestVertexNormals: true // required for terrain lighting
    // });
    // // Enable depth testing so things behind the terrain disappear.
    // viewer.scene.globe.depthTestAgainstTerrain = true;

    var provider = new Cesium.WebMapServiceImageryProvider({
      // url : 'http://202.114.148.160:8000/arcgis/services/云南/MyMapService/MapServer/WMSServer?',
      url : 'http://202.114.148.160:8000/arcgis/services/云南/ynShpdemo/MapServer/WMSServer?',
      // url: "http://localhost:8000/geoserver/webgis/wms?",
      // layers: 'webgis:yn_wgs84',
      layers: '0',
      // parameters: {
      //   service : 'WMS',
      //   format: 'image/png',
      //   transparent: true
      // },
      // crs : 'EPSG:4326',
      // layers : '0',
      parameters: {
        service: 'WMS',
        format: 'image/png',
        transparent: true
      }
      // proxy: new Cesium.DefaultProxy('/proxy/')
    })
    viewer.imageryLayers.addImageryProvider(provider);

    function getPosition() {
      //得到当前三维场景
      var scene = viewer.scene;
      //得到当前三维场景的椭球体
      var ellipsoid = scene.globe.ellipsoid;
      var entity = viewer.entities.add({
        label: {
          show: false
        }
      });

      var longitudeDiv = document.getElementById("longitudeDiv");
      var latitudeDiv = document.getElementById("latitudeDiv");
      var heightDiv = document.getElementById("heightDiv");
      // var altitudeDiv = document.getElementById("altitudeDiv");

      var longitudeString = null;
      var latitudeString = null;
      var height = null;
      var cartesian = null;
      // 定义当前场景的画布元素的事件处理
      var handler = new Cesium.ScreenSpaceEventHandler(scene.canvas);
      //设置鼠标移动事件的处理函数，这里负责监听x,y坐标值变化
      handler.setInputAction(function (movement) {
        //通过指定的椭球或者地图对应的坐标系，将鼠标的二维坐标转换为对应椭球体三维坐标
        cartesian = viewer.camera.pickEllipsoid(movement.endPosition, ellipsoid);
        if (cartesian) {
          //将笛卡尔坐标转换为地理坐标
          var cartographic = ellipsoid.cartesianToCartographic(cartesian);
          //将弧度转为度的十进制度表示
          longitudeString = Cesium.Math.toDegrees(cartographic.longitude);
          latitudeString = Cesium.Math.toDegrees(cartographic.latitude);
          //获取相机高度
          height = Math.ceil(viewer.camera.positionCartographic.height);
          longitudeDiv.innerText = `经度：${longitudeString.toFixed(4)}`;
          latitudeDiv.innerText = `纬度：${latitudeString.toFixed(4)}`;
          heightDiv.innerText = `高度：${height.toFixed(0)}`;
        } else {
          // entity.label.show = false;
        }
      }, Cesium.ScreenSpaceEventType.MOUSE_MOVE);
      //设置鼠标滚动事件的处理函数，这里负责监听高度值变化
      handler.setInputAction(function (wheelment) {
        height = Math.ceil(viewer.camera.positionCartographic.height);
        heightDiv.innerText = `高度：${height}`;
      }, Cesium.ScreenSpaceEventType.WHEEL);
    }

    getPosition()

    function show3DCoordinates() {
      var handler3D = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
      handler3D.setInputAction(function (movement) {
        var pick = new Cesium.Cartesian2(movement.endPosition.x, movement.endPosition.y);
        if (pick) {
          var ray = viewer.camera.getPickRay(pick);
          var cartesian = viewer.scene.globe.pick(ray, viewer.scene);
          if (cartesian) {
            debugger;
            //世界坐标转地理坐标（弧度）
            var cartographic = viewer.scene.globe.ellipsoid.cartesianToCartographic(cartesian);
            if (cartographic) {
              debugger;
              //海拔
              var height = viewer.scene.globe.getHeight(cartographic);
              //视角海拔高度
              var he = Math.sqrt(viewer.scene.camera.positionWC.x * viewer.scene.camera.positionWC.x + viewer.scene
                .camera.positionWC.y * viewer.scene.camera.positionWC.y + viewer.scene.camera.positionWC.z *
                viewer.scene.camera.positionWC.z);
              var he2 = Math.sqrt(cartesian.x * cartesian.x + cartesian.y * cartesian.y + cartesian.z *
                cartesian.z);
              //地理坐标（弧度）转经纬度坐标
              var point = [cartographic.longitude / Math.PI * 180, cartographic.latitude / Math.PI * 180];
              if (!height) {
                height = 0;
              }
              if (!he) {
                he = 0;
              }
              if (!he2) {
                he2 = 0;
              }
              if (!point) {
                point = [0, 0];
              }
              //   coordinatesDiv.innerHTML =
              //     "<span id='cd_label' style='font-size:13px;text-align:center;font-family:微软雅黑;color:#edffff;'>" +
              //     "视角海拔高度:" + (he - he2).toFixed(2) + "米" + "&nbsp;&nbsp;&nbsp;&nbsp;海拔:" + height.toFixed(2) +
              //     "米" + "&nbsp;&nbsp;&nbsp;&nbsp;经度：" + point[0].toFixed(6) + "&nbsp;&nbsp;纬度：" + point[1].toFixed(
              //       6) + "</span>";
              // }
            }
          }
        }
      }, Cesium.ScreenSpaceEventType.MOUSE_MOVE);

    }



    //////////////////////////////

    // var scene = viewer.scene;


    // var loadedModels = [];

    // var tempPoints = [];
    // var tempEntities = [];
    // var tempPinEntities = [];
    // var tempPinLon, tempPinLat;

    // var handler = null;

    // function clearEffects() {
    //   if (handler != null) {
    //     handler.destroy();
    //   }
    // }

    // //设置各种操作模式
    // function SetMode(mode) {
    //   if (mode == "drawPloy") {
    //     tempPoints = [];
    //     handler = new Cesium.ScreenSpaceEventHandler(scene.canvas);
    //     handler.setInputAction(function (click) {
    //       var cartesian = viewer.camera.pickEllipsoid(click.position, scene.globe.ellipsoid);
    //       if (cartesian) {
    //         var cartographic = Cesium.Cartographic.fromCartesian(cartesian);
    //         var longitudeString = Cesium.Math.toDegrees(cartographic.longitude);
    //         var latitudeString = Cesium.Math.toDegrees(cartographic.latitude);
    //         tempPoints.push({
    //           lon: longitudeString,
    //           lat: latitudeString
    //         });
    //         var tempLength = tempPoints.length;
    //         drawPoint(tempPoints[tempPoints.length - 1]);
    //         if (tempLength > 1) {
    //           drawLine(tempPoints[tempPoints.length - 2], tempPoints[tempPoints.length - 1], true);
    //         }
    //       }
    //     }, Cesium.ScreenSpaceEventType.LEFT_CLICK);

    //     handler.setInputAction(function (click) {
    //       var cartesian = viewer.camera.pickEllipsoid(click.position, scene.globe.ellipsoid);
    //       if (cartesian) {
    //         var tempLength = tempPoints.length;
    //         if (tempLength < 3) {
    //           alert('请选择3个以上的点再执行闭合操作命令');
    //         } else {
    //           drawLine(tempPoints[0], tempPoints[tempPoints.length - 1], true);
    //           drawPoly(tempPoints);
    //           <!-- highLightAssetsInArea(tempPoints); -->


    //           var ent =
    //             viewer.entities.add({
    //               position: Cesium.Cartesian3.fromDegrees(((tempPoints[0].lon + (tempPoints[tempPoints.length - 1]
    //                   .lon + tempPoints[tempPoints.length - 2].lon) / 2) / 2),
    //                 ((tempPoints[0].lat + (tempPoints[tempPoints.length - 1].lat + tempPoints[tempPoints.length -
    //                   2].lat) / 2) / 2)),
    //               label: {
    //                 text: SphericalPolygonAreaMeters(tempPoints).toFixed(1) + '㎡',
    //                 font: '22px Helvetica',
    //                 fillColor: Cesium.Color.BLACK
    //               }
    //             });
    //           tempEntities.push(ent);
    //           tempPoints = [];
    //           clearEffects();
    //         }

    //       }
    //     }, Cesium.ScreenSpaceEventType.RIGHT_CLICK);
    //   } else if ("drawLine" == mode) {
    //     tempPoints = [];
    //     handler = new Cesium.ScreenSpaceEventHandler(scene.canvas);
    //     handler.setInputAction(function (click) {
    //       var cartesian = viewer.camera.pickEllipsoid(click.position, scene.globe.ellipsoid);
    //       if (cartesian) {
    //         var cartographic = Cesium.Cartographic.fromCartesian(cartesian);
    //         var longitudeString = Cesium.Math.toDegrees(cartographic.longitude);
    //         var latitudeString = Cesium.Math.toDegrees(cartographic.latitude);
    //         tempPoints.push({
    //           lon: longitudeString,
    //           lat: latitudeString
    //         });
    //         var tempLength = tempPoints.length;
    //         drawPoint(tempPoints[tempPoints.length - 1]);
    //         if (tempLength > 1) {
    //           drawLine(tempPoints[tempPoints.length - 2], tempPoints[tempPoints.length - 1], true);
    //         }
    //       }
    //     }, Cesium.ScreenSpaceEventType.LEFT_CLICK);
    //     handler.setInputAction(function (click) {
    //       tempPoints = [];
    //       clearEffects();
    //     }, Cesium.ScreenSpaceEventType.RIGHT_CLICK);
    //   }
    // }

    // function drawPoint(point) {
    //   var entity =
    //     viewer.entities.add({
    //       position: Cesium.Cartesian3.fromDegrees(point.lon, point.lat),
    //       label: {
    //         text: '',
    //         font: '22px Helvetica'
    //       },
    //       point: {
    //         pixelSize: 10,
    //         color: Cesium.Color.CHARTREUSE
    //       }
    //     });
    //   tempEntities.push(entity);
    // }

    // function drawLine(point1, point2, showDistance) {
    //   var entity =
    //     viewer.entities.add({
    //       polyline: {
    //         positions: [Cesium.Cartesian3.fromDegrees(point1.lon, point1.lat), Cesium.Cartesian3.fromDegrees(point2.lon,
    //           point2.lat)],
    //         width: 10.0,
    //         material: new Cesium.PolylineGlowMaterialProperty({
    //           color: Cesium.Color.CHARTREUSE.withAlpha(.5)
    //         })
    //       }
    //     });
    //   tempEntities.push(entity);
    //   if (showDistance) {
    //     var w = Math.abs(point1.lon - point2.lon);
    //     var h = Math.abs(point1.lat - point2.lat);
    //     var offsetV = w >= h ? 0.0005 : 0;
    //     var offsetH = w < h ? 0.001 : 0;
    //     var distance = getFlatternDistance(point1.lat, point1.lon, point2.lat, point2.lon);
    //     entity =
    //       viewer.entities.add({
    //         position: Cesium.Cartesian3.fromDegrees(((point1.lon + point2.lon) / 2) + offsetH,
    //           ((point1.lat + point2.lat) / 2) + offsetV),
    //         label: {
    //           text: distance.toFixed(1) + 'm',
    //           font: '22px Helvetica',
    //           fillColor: Cesium.Color.WHITE
    //         }
    //       });
    //     tempEntities.push(entity);
    //   }
    // }

    // function drawPoly(points) {
    //   var pArray = [];
    //   for (var i = 0; i < points.length; i++) {
    //     pArray.push(points[i].lon);
    //     pArray.push(points[i].lat);
    //   }
    //   var entity =
    //     viewer.entities.add({
    //       polygon: {
    //         hierarchy: new Cesium.PolygonHierarchy(Cesium.Cartesian3.fromDegreesArray(pArray)),
    //         material: Cesium.Color.CHARTREUSE.withAlpha(.5)
    //       }
    //     });
    //   tempEntities.push(entity);
    // }

    // //计算两点间距离
    // function getFlatternDistance(lat1, lng1, lat2, lng2) {
    //   var EARTH_RADIUS = 6378137.0; //单位M
    //   var PI = Math.PI;

    //   function getRad(d) {
    //     return d * PI / 180.0;
    //   }
    //   var f = getRad((lat1 + lat2) / 2);
    //   var g = getRad((lat1 - lat2) / 2);
    //   var l = getRad((lng1 - lng2) / 2);

    //   var sg = Math.sin(g);
    //   var sl = Math.sin(l);
    //   var sf = Math.sin(f);

    //   var s, c, w, r, d, h1, h2;
    //   var a = EARTH_RADIUS;
    //   var fl = 1 / 298.257;

    //   sg = sg * sg;
    //   sl = sl * sl;
    //   sf = sf * sf;

    //   s = sg * (1 - sl) + (1 - sf) * sl;
    //   c = (1 - sg) * (1 - sl) + sf * sl;

    //   w = Math.atan(Math.sqrt(s / c));
    //   r = Math.sqrt(s * c) / w;
    //   d = 2 * w * a;
    //   h1 = (3 * r - 1) / 2 / c;
    //   h2 = (3 * r + 1) / 2 / s;

    //   return d * (1 + fl * (h1 * sf * (1 - sg) - h2 * (1 - sf) * sg));
    // }

    // //计算多边形面积
    // var earthRadiusMeters = 6371000.0;
    // var radiansPerDegree = Math.PI / 180.0;
    // var degreesPerRadian = 180.0 / Math.PI;

    // function SphericalPolygonAreaMeters(points) {
    //   var totalAngle = 0;
    //   for (var i = 0; i < points.length; i++) {
    //     var j = (i + 1) % points.length;
    //     var k = (i + 2) % points.length;
    //     totalAngle += Angle(points[i], points[j], points[k]);
    //   }
    //   var planarTotalAngle = (points.length - 2) * 180.0;
    //   var sphericalExcess = totalAngle - planarTotalAngle;
    //   if (sphericalExcess > 420.0) {
    //     totalAngle = points.length * 360.0 - totalAngle;
    //     sphericalExcess = totalAngle - planarTotalAngle;
    //   } else if (sphericalExcess > 300.0 && sphericalExcess < 420.0) {
    //     sphericalExcess = Math.abs(360.0 - sphericalExcess);
    //   }
    //   return sphericalExcess * radiansPerDegree * earthRadiusMeters * earthRadiusMeters;
    // }

    // /*角度*/
    // function Angle(p1, p2, p3) {
    //   var bearing21 = Bearing(p2, p1);
    //   var bearing23 = Bearing(p2, p3);
    //   var angle = bearing21 - bearing23;
    //   if (angle < 0) {
    //     angle += 360;
    //   }
    //   return angle;
    // }
    // /*方向*/
    // function Bearing(from, to) {
    //   var lat1 = from.lat * radiansPerDegree;
    //   var lon1 = from.lon * radiansPerDegree;
    //   var lat2 = to.lat * radiansPerDegree;
    //   var lon2 = to.lon * radiansPerDegree;
    //   var angle = -Math.atan2(Math.sin(lon1 - lon2) * Math.cos(lat2), Math.cos(lat1) * Math.sin(lat2) - Math.sin(lat1) *
    //     Math.cos(lat2) * Math.cos(lon1 - lon2));
    //   if (angle < 0) {
    //     angle += Math.PI * 2.0;
    //   }
    //   angle = angle * degreesPerRadian;
    //   return angle;
    // }
    // /**
    //  * 清除地图痕迹
    //  */
    // function clearDrawingBoard() {
    //   // <!-- viewer.entities.removeAll(); -->
    //   var primitives = viewer.entities;
    //   for (i = 0; i < tempEntities.length; i++) {
    //     primitives.remove(tempEntities[i]);
    //   }
    //   tempEntities = [];
    //   clearEffects();
    // }

    // show3DCoordinates();
  </script>
</body>

</html>